Repository DeepXE/DeepXE.github.io, pull requests merged in 2022-07, with the labels that each got.

#14 fix #4
  docs/01 나의 첫 머신러닝/_category_.json
Labels: documentation, enhancement, automation, design, category, frame, valid

#15 Development
  docs/01 나의 첫 머신러닝/_category_.json
Labels: documentation, enhancement, automation, design, category, frame, valid

#24 fix #23
  docs/Aritificial Intelligence/01 나의 첫 머신러닝/_category_.json
  docs/Aritificial Intelligence/01 나의 첫 머신러닝/마켓과 머신러닝.md
  docs/Aritificial Intelligence/01 나의 첫 머신러닝/인공지능과 머신러닝, 딥러닝.md
  docs/Aritificial Intelligence/01 나의 첫 머신러닝/코랩과 주피터 노트북.md
  docs/Aritificial Intelligence/02 데이터 다루기/_category_.json
  docs/Aritificial Intelligence/02 데이터 다루기/데이터 전처리.md
  docs/Aritificial Intelligence/02 데이터 다루기/훈련 세트와 테스트 세트.md
  docs/Aritificial Intelligence/03 회귀 알고리즘과 모델 규제/_category_.json
  docs/Aritificial Intelligence/03 회귀 알고리즘과 모델 규제/k-최근접 이웃 회귀.md
  docs/Aritificial Intelligence/03 회귀 알고리즘과 모델 규제/선형 회귀.md
  docs/Aritificial Intelligence/03 회귀 알고리즘과 모델 규제/특성 공학과 규제.md
  docs/Aritificial Intelligence/04 다양한 분류 알고리즘/_category_.json
  docs/Aritificial Intelligence/04 다양한 분류 알고리즘/로지스틱 회귀.md
  docs/Aritificial Intelligence/04 다양한 분류 알고리즘/선형 회귀.md
  docs/Aritificial Intelligence/05 트리 알고리즘/_category_.json
  docs/Aritificial Intelligence/05 트리 알고리즘/결정 트리.md
  docs/Aritificial Intelligence/05 트리 알고리즘/교차 검증과 그리드 서치.md
  docs/Aritificial Intelligence/05 트리 알고리즘/트리의 앙상블.md
  docs/Aritificial Intelligence/06 비지도 학습/_category_.json
  docs/Aritificial Intelligence/06 비지도 학습/k-평균.md
  docs/Aritificial Intelligence/06 비지도 학습/군집 알고리즘.md
  docs/Aritificial Intelligence/06 비지도 학습/주성분 분석.md
  docs/Aritificial Intelligence/07 딥러닝을 시작합니다/_category_.json
  docs/Aritificial Intelligence/07 딥러닝을 시작합니다/신경망 모델 훈련.md
  docs/Aritificial Intelligence/07 딥러닝을 시작합니다/심층 신경망.md
  docs/Aritificial Intelligence/07 딥러닝을 시작합니다/인공 신경망.md
  docs/Aritificial Intelligence/08 이미지를 위한 인공 신경망/_category_.json
  docs/Aritificial Intelligence/08 이미지를 위한 인공 신경망/합성곱 신경망을 사용한 이미지 분류.md
  docs/Aritificial Intelligence/08 이미지를 위한 인공 신경망/합성곱 신경망의 구성 요소.md
  docs/Aritificial Intelligence/08 이미지를 위한 인공 신경망/합성곱 신경망의 시각화.md
  docs/Aritificial Intelligence/09 텍스트를 위한 인공 신경망/LSTM과 GRU 셀.md
  docs/Aritificial Intelligence/09 텍스트를 위한 인공 신경망/_category_.json
  docs/Aritificial Intelligence/09 텍스트를 위한 인공 신경망/순차 데이터와 순환 신경망.md
  docs/Aritificial Intelligence/09 텍스트를 위한 인공 신경망/순환 신경망으로 IMDB 리뷰 분류하기.md
  docs/Aritificial Intelligence/_category_.json
  docs/Mathematics/Linear Algebra/Matrices and Gaussian Elimination.md
  docs/Mathematics/Linear Algebra/_category_.json
  docs/Mathematics/_category_.json
  docs/Programming Languages/Python/01 Python이란 무엇인가/_category_.json
  docs/Programming Languages/Python/01 Python이란 무엇인가/파이썬이란.md
  docs/Programming Languages/Python/_category_.json
  docs/Programming Languages/_category_.json
  src/components/HomepageFeatures/index.tsx
  static/img/mathematics-icon.svg
  static/img/python-icon.svg
  static/img/tensorflow-icon.svg
Labels: documentation, enhancement, automation, design, category, frame, valid, commit, review

#27 fix #23
  docs/Algorithms and Data Structures/01 Introduction/What is an Algorithm.md
  docs/Algorithms and Data Structures/01 Introduction/_category_.json
  docs/Algorithms and Data Structures/_category_.json
  docs/Mathematics/_category_.json
  src/components/HomepageFeatures/index.tsx
  static/img/algorithms-icon.svg
Labels: documentation, enhancement, automation, design, category, frame, valid, commit, answer, review, progress

#25 Development
  docs/Algorithms and Data Structures/01 Introduction/What is an Algorithm.md
  docs/Algorithms and Data Structures/01 Introduction/_category_.json
  docs/Algorithms and Data Structures/_category_.json
  docs/Aritificial Intelligence/01 나의 첫 머신러닝/_category_.json
  docs/Aritificial Intelligence/01 나의 첫 머신러닝/마켓과 머신러닝.md
  docs/Aritificial Intelligence/01 나의 첫 머신러닝/인공지능과 머신러닝, 딥러닝.md
  docs/Aritificial Intelligence/01 나의 첫 머신러닝/코랩과 주피터 노트북.md
  docs/Aritificial Intelligence/02 데이터 다루기/_category_.json
  docs/Aritificial Intelligence/02 데이터 다루기/데이터 전처리.md
  docs/Aritificial Intelligence/02 데이터 다루기/훈련 세트와 테스트 세트.md
  docs/Aritificial Intelligence/03 회귀 알고리즘과 모델 규제/_category_.json
  docs/Aritificial Intelligence/03 회귀 알고리즘과 모델 규제/k-최근접 이웃 회귀.md
  docs/Aritificial Intelligence/03 회귀 알고리즘과 모델 규제/선형 회귀.md
  docs/Aritificial Intelligence/03 회귀 알고리즘과 모델 규제/특성 공학과 규제.md
  docs/Aritificial Intelligence/04 다양한 분류 알고리즘/_category_.json
  docs/Aritificial Intelligence/04 다양한 분류 알고리즘/로지스틱 회귀.md
  docs/Aritificial Intelligence/04 다양한 분류 알고리즘/선형 회귀.md
  docs/Aritificial Intelligence/05 트리 알고리즘/_category_.json
  docs/Aritificial Intelligence/05 트리 알고리즘/결정 트리.md
  docs/Aritificial Intelligence/05 트리 알고리즘/교차 검증과 그리드 서치.md
  docs/Aritificial Intelligence/05 트리 알고리즘/트리의 앙상블.md
  docs/Aritificial Intelligence/06 비지도 학습/_category_.json
  docs/Aritificial Intelligence/06 비지도 학습/k-평균.md
  docs/Aritificial Intelligence/06 비지도 학습/군집 알고리즘.md
  docs/Aritificial Intelligence/06 비지도 학습/주성분 분석.md
  docs/Aritificial Intelligence/07 딥러닝을 시작합니다/_category_.json
  docs/Aritificial Intelligence/07 딥러닝을 시작합니다/신경망 모델 훈련.md
  docs/Aritificial Intelligence/07 딥러닝을 시작합니다/심층 신경망.md
  docs/Aritificial Intelligence/07 딥러닝을 시작합니다/인공 신경망.md
  docs/Aritificial Intelligence/08 이미지를 위한 인공 신경망/_category_.json
  docs/Aritificial Intelligence/08 이미지를 위한 인공 신경망/합성곱 신경망을 사용한 이미지 분류.md
  docs/Aritificial Intelligence/08 이미지를 위한 인공 신경망/합성곱 신경망의 구성 요소.md
  docs/Aritificial Intelligence/08 이미지를 위한 인공 신경망/합성곱 신경망의 시각화.md
  docs/Aritificial Intelligence/09 텍스트를 위한 인공 신경망/LSTM과 GRU 셀.md
  docs/Aritificial Intelligence/09 텍스트를 위한 인공 신경망/_category_.json
  docs/Aritificial Intelligence/09 텍스트를 위한 인공 신경망/순차 데이터와 순환 신경망.md
  docs/Aritificial Intelligence/09 텍스트를 위한 인공 신경망/순환 신경망으로 IMDB 리뷰 분류하기.md
  docs/Aritificial Intelligence/_category_.json
  docs/Mathematics/Linear Algebra/Matrices and Gaussian Elimination.md
  docs/Mathematics/Linear Algebra/_category_.json
  docs/Mathematics/_category_.json
  docs/Programming Languages/Python/01 Python이란 무엇인가/_category_.json
  docs/Programming Languages/Python/01 Python이란 무엇인가/파이썬이란.md
  docs/Programming Languages/Python/_category_.json
  docs/Programming Languages/_category_.json
  src/components/HomepageFeatures/index.tsx
  static/img/algorithms-icon.svg
  static/img/mathematics-icon.svg
  static/img/python-icon.svg
  static/img/tensorflow-icon.svg
Labels: documentation, enhancement, automation, design, category, frame, valid, commit, answer, review

#35 Docu #26
  docs/Artificial Intelligence/02 데이터 다루기/데이터 전처리.md
Labels: documentation, enhancement, question, automation, category, valid, commit, answer, review, progress

#34 Docu #16
  docs/Artificial Intelligence/01 나의 첫 머신러닝/jonghyeok_files/jonghyeok_19_0.png
  docs/Artificial Intelligence/01 나의 첫 머신러닝/jonghyeok_files/jonghyeok_5_0.png
  docs/Artificial Intelligence/01 나의 첫 머신러닝/jonghyeok_files/jonghyeok_8_0.png
  docs/Artificial Intelligence/01 나의 첫 머신러닝/woojin_files/woojin_0_0_0_1.png
  docs/Artificial Intelligence/01 나의 첫 머신러닝/마켓과 머신러닝.md
  docs/Artificial Intelligence/01 나의 첫 머신러닝/인공지능과 머신러닝, 딥러닝.md
Labels: documentation, enhancement, question, automation, category, valid, commit, answer, review, progress

#42 fix #41
  docs/Algorithms and Data Structures/_category_.json
  docs/Data Analysis/01 Preliminaries/What Is This Book About.md
  docs/Data Analysis/01 Preliminaries/_category_.json
  docs/Data Analysis/_category_.json
  docs/Mathematics/_category_.json
  docs/Programming Languages/_category_.json
  src/components/HomepageFeatures/index.tsx
  static/img/pandas-icon.svg
Labels: enhancement, automation, design, category, frame, valid, commit, answer, review, publish, update

#44 fix #41
  docs/Algorithms and Data Structures/_category_.json
  docs/Data Analysis/01 Preliminaries/What Is This Book About.md
  docs/Data Analysis/01 Preliminaries/_category_.json
  docs/Data Analysis/_category_.json
  docs/Mathematics/_category_.json
  docs/Programming Languages/_category_.json
  src/components/HomepageFeatures/index.tsx
  static/img/pandas-icon.svg
Labels: documentation, enhancement, automation, category, frame, valid, commit, answer, review, publish, update

#45 fix #41
  docs/Algorithms and Data Structures/_category_.json
  docs/Data Analysis/01 Preliminaries/What Is This Book About.md
  docs/Data Analysis/01 Preliminaries/_category_.json
  docs/Data Analysis/_category_.json
  docs/Mathematics/_category_.json
  docs/Programming Languages/_category_.json
  src/components/HomepageFeatures/index.tsx
  static/img/pandas-icon.svg
Labels: enhancement, automation, design, category, frame, valid, commit, answer, review, publish, update

#46 fix #41
  docs/Algorithms and Data Structures/_category_.json
  docs/Data Analysis/01 Preliminaries/What Is This Book About.md
  docs/Data Analysis/01 Preliminaries/_category_.json
  docs/Data Analysis/_category_.json
  docs/Mathematics/_category_.json
  docs/Programming Languages/_category_.json
  src/components/HomepageFeatures/index.tsx
  static/img/pandas-icon.svg
Labels: documentation, enhancement, automation, design, category, frame, valid, commit, answer, review, publish, update

#59 Docu #38
  docs/Algorithms and Data Structures/_category_.json
  docs/Artificial Intelligence/03 회귀 알고리즘과 모델 규제/JongHyeok_files/JongHyeok_5_0.png
  docs/Artificial Intelligence/03 회귀 알고리즘과 모델 규제/JungHun_files/JungHun1.png
  docs/Artificial Intelligence/03 회귀 알고리즘과 모델 규제/Woojin_files/Woojin_3_1_1.png
  docs/Artificial Intelligence/03 회귀 알고리즘과 모델 규제/Woojin_files/woojin_3-3_0.png
  docs/Artificial Intelligence/03 회귀 알고리즘과 모델 규제/Woojin_files/woojin_3_3_1.png
  docs/Artificial Intelligence/03 회귀 알고리즘과 모델 규제/k-최근접 이웃 회귀.md
  docs/Data Analysis/01 Preliminaries/What Is This Book About.md
  docs/Data Analysis/01 Preliminaries/_category_.json
  docs/Data Analysis/_category_.json
  docs/Mathematics/_category_.json
  docs/Programming Languages/_category_.json
  src/components/HomepageFeatures/index.tsx
  static/img/pandas-icon.svg
Labels: bug, documentation, enhancement, question, automation, design, category, frame, valid, commit, answer, review, progress, publish, update

#50 Docu #40
  docs/Artificial Intelligence/03 회귀 알고리즘과 모델 규제/JungHun_files/JungHun1.png
  docs/Artificial Intelligence/03 회귀 알고리즘과 모델 규제/특성 공학과 규제.md
Labels: documentation, commit, review, update

#51 Docu #39
  docs/Artificial Intelligence/03 회귀 알고리즘과 모델 규제/JongHyeok_files/JongHyeok_13_0.png
  docs/Artificial Intelligence/03 회귀 알고리즘과 모델 규제/JongHyeok_files/JongHyeok_16_0.png
  docs/Artificial Intelligence/03 회귀 알고리즘과 모델 규제/JongHyeok_files/JongHyeok_26_0.png
  docs/Artificial Intelligence/03 회귀 알고리즘과 모델 규제/JongHyeok_files/JongHyeok_33_0.png
  docs/Artificial Intelligence/03 회귀 알고리즘과 모델 규제/JongHyeok_files/JongHyeok_36_0.png
  docs/Artificial Intelligence/03 회귀 알고리즘과 모델 규제/JongHyeok_files/JongHyeok_37_0.png
  docs/Artificial Intelligence/03 회귀 알고리즘과 모델 규제/JongHyeok_files/JongHyeok_42_0.png
  docs/Artificial Intelligence/03 회귀 알고리즘과 모델 규제/JungHun_files/JungHun1.png
  docs/Artificial Intelligence/03 회귀 알고리즘과 모델 규제/JungHun_files/JungHun2.png
  docs/Artificial Intelligence/03 회귀 알고리즘과 모델 규제/JungHun_files/JungHun3.png
  docs/Artificial Intelligence/03 회귀 알고리즘과 모델 규제/Woojin_files/woojin_3-2_0.png
  docs/Artificial Intelligence/03 회귀 알고리즘과 모델 규제/Woojin_files/woojin_3-2_1.png
  docs/Artificial Intelligence/03 회귀 알고리즘과 모델 규제/Woojin_files/woojin_3-2_2.png
  docs/Artificial Intelligence/03 회귀 알고리즘과 모델 규제/Woojin_files/woojin_3-2_3.png
  docs/Artificial Intelligence/03 회귀 알고리즘과 모델 규제/선형 회귀.md
Labels: documentation, enhancement, question, automation, design, category, frame, valid, commit, answer, review, progress, publish, update

#62 Publish Documentation
  docs/Algorithms and Data Structures/_category_.json
  docs/Artificial Intelligence/01 나의 첫 머신러닝/마켓과 머신러닝.md
  docs/Artificial Intelligence/01 나의 첫 머신러닝/코랩과 주피터 노트북.md
  docs/Artificial Intelligence/02 데이터 다루기/데이터 전처리.md
  docs/Artificial Intelligence/02 데이터 다루기/훈련 세트와 테스트 세트.md
  docs/Artificial Intelligence/03 회귀 알고리즘과 모델 규제/JongHyeok_files/JongHyeok_13_0.png
  docs/Artificial Intelligence/03 회귀 알고리즘과 모델 규제/JongHyeok_files/JongHyeok_16_0.png
  docs/Artificial Intelligence/03 회귀 알고리즘과 모델 규제/JongHyeok_files/JongHyeok_26_0.png
  docs/Artificial Intelligence/03 회귀 알고리즘과 모델 규제/JongHyeok_files/JongHyeok_33_0.png
  docs/Artificial Intelligence/03 회귀 알고리즘과 모델 규제/JongHyeok_files/JongHyeok_36_0.png
  docs/Artificial Intelligence/03 회귀 알고리즘과 모델 규제/JongHyeok_files/JongHyeok_37_0.png
  docs/Artificial Intelligence/03 회귀 알고리즘과 모델 규제/JongHyeok_files/JongHyeok_42_0.png
  docs/Artificial Intelligence/03 회귀 알고리즘과 모델 규제/JongHyeok_files/JongHyeok_5_0.png
  docs/Artificial Intelligence/03 회귀 알고리즘과 모델 규제/JungHun_files/JungHun1.png
  docs/Artificial Intelligence/03 회귀 알고리즘과 모델 규제/JungHun_files/JungHun2.png
  docs/Artificial Intelligence/03 회귀 알고리즘과 모델 규제/JungHun_files/JungHun3.png
  docs/Artificial Intelligence/03 회귀 알고리즘과 모델 규제/Woojin_files/Woojin_3_1_1.png
  docs/Artificial Intelligence/03 회귀 알고리즘과 모델 규제/Woojin_files/woojin_3-2_0.png
  docs/Artificial Intelligence/03 회귀 알고리즘과 모델 규제/Woojin_files/woojin_3-2_1.png
  docs/Artificial Intelligence/03 회귀 알고리즘과 모델 규제/Woojin_files/woojin_3-2_2.png
  docs/Artificial Intelligence/03 회귀 알고리즘과 모델 규제/Woojin_files/woojin_3-2_3.png
  docs/Artificial Intelligence/03 회귀 알고리즘과 모델 규제/Woojin_files/woojin_3-3_0.png
  docs/Artificial Intelligence/03 회귀 알고리즘과 모델 규제/Woojin_files/woojin_3_3_1.png
  docs/Artificial Intelligence/03 회귀 알고리즘과 모델 규제/k-최근접 이웃 회귀.md
  docs/Artificial Intelligence/03 회귀 알고리즘과 모델 규제/선형 회귀.md
  docs/Artificial Intelligence/03 회귀 알고리즘과 모델 규제/특성 공학과 규제.md
  docs/Data Analysis/01 Preliminaries/What Is This Book About.md
  docs/Data Analysis/01 Preliminaries/_category_.json
  docs/Data Analysis/_category_.json
  docs/Mathematics/_category_.json
  docs/Programming Languages/_category_.json
  src/components/HomepageFeatures/index.tsx
  static/img/pandas-icon.svg
Labels: documentation, enhancement, question, automation, design, category, frame, valid, commit, answer, review, progress, publish, update
